<div class="home-page-container">
  <img class="home-page-image" data-controller="image-carousel" data-target="image-carousel.image">
</div>
<div class="h-screen w-full bg-blue-300 pt-6">
  <div class="w-full flex justify-center items-center">
    <h1 class="text-8xl text-transparent cool-image bg-clip-text font-bold">
      Jam Corner
    </h1>
  </div>
</div>
