// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.home-page-container {
  height: 80vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.home-page-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  object-fit: cover;
}

.cool-image {
  background-image: url("/colorful.jpg");
  background-size: 90%;
  background-position: top;
  background-attachment: fixed;
}
